DB_HOST=localhost
DB_PORT=5432
DB_NAME=vitals_journal
DB_USER=vitals
DB_PASSWORD=vitals
JWT_PUBLIC_KEY_LOCATION=file:.local/keys/local-public.pub
JWT_PRIVATE_KEY_LOCATION=file:.local/keys/local-private.key
